body
{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(rgb(253, 206, 126), rgb(162, 209, 206));
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friend-img
{
    width: 150px;
    border-radius: 50%;
    border: 4px solid rgb(162, 209, 206);
}

#bday-age
{
    background: rgb(162, 209, 206);
    padding: 5px 5px;
    border-radius: 3px;
    margin: 10px 0 10px 0;
}

#bday-date
{
    background: rgb(162, 209, 206);
}

#header
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img
{
    display: 0 auto;
    width: 300px;
    height: 300px;
    border: 6px solid rgb(162, 209, 206);
    border-radius: 10px;
    background-image: url("images/gift-box.jpg");
    background-size: cover;
}

#gift-img-happy:hover
{
    background-image: url("images/fireworks.gif");
}

#gift-img-good-look:hover
{
    background-image: url("images/fireworks.gif");
}