body
{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background: rgb(255, 255, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friend-img
{
    width: 150px;
    border-radius: 50%;
    border: 4px solid rgb(125, 195, 190);
}

h2, h4
{
    background: rgb(125, 195, 190);
    display: inline;
}